.header
   = link_to new_user_session_path,class: "header-icon"do
      BBOY/BGIRL Community Site
   - if user_signed_in?
      = link_to "ログアウト", destroy_user_session_path, method: :delete,class: "header-logout"
      = link_to "#{current_user.gender} #{current_user.name}",user_path(current_user),class: "header-btn"