.post
  .post-header
  .post-main
    .post-group
      - @books.each do |book|
        - if current_user.id == @user.id
          .more
            %span
              = image_tag 'arrow_top.png',class: 'more__arrow'
              %ul.more-list
                %li
                  = link_to '編集',edit_book_path(book),class: "post-edit"
                %li
                  = link_to '削除',book_path(book),method: :delete,class: "post-delete"
        .post-group__video
          = video_tag book.video.url,class: 'post-group__video__movie',controls: true
        .post-group__style
          = "スタイル : #{book.style}"
        .post-group__crew
          - if book.crew.blank?
            = "所属crew : 無し"
          - else
            = "所属crew : #{book.crew}"
        .post-group__old
          = "ダンス歴 : #{book.old}"
  .post-form
    - if current_user.id == @user.id && @books.blank?
      .form
        = link_to new_book_path do
          新規投稿