.form-edit
  = form_with model: @book,local: true do |f|
    = f.select :style,Book.styles.keys,include_blank: "スタイルを選択してください",autofocus: true,class: 'form__style'
    = f.select :old,Book.olds.keys,include_blank: '歴を選択してください',autofocus: true,class: 'old'
    = f.text_field :crew, class: 'crew',placeholder: '所属 crew名 無記入OK'
    = f.submit '編集を保存する', class: 'edit__btn'